<div class="box"> 
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <img src="{{product.image}}" alt="img">
    </div>

    <div class="col-md-7 col-sm-12">
       <div class="info">
          <ul class="list-unstyled">
            <li><strong style="font-size: 22px;">  Title :</strong> {{product.title}}</li>
            <li><strong style="font-size: 22px;"> Category :</strong> {{product.category}}</li>
            <li><strong style="font-size: 22px;"> Description :</strong> {{product.description}}</li>
            <li><strong style="font-size: 22px;"> Rate :</strong> {{product.rating.rate}}</li>
            <li><strong style="font-size: 22px;"> Count :</strong> {{product.rating.count}}</li>
            <li><strong style="font-size: 22px;"> Price :</strong> {{product.price}} LE</li>
          </ul>
       </div>
    </div>
  </div>


</div>
